
.marker_btn_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 0;
}

button:focus {
	outline: none;
}

.btn {
	border: 1px solid #fff;
}

.btn_white {
  color: #333;
  background-color: rgba(#fff, 0.4);
}


.marker_btn {
  width: 45px;
  height: 45px;
}

.marker_btn > label {
  display: block;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
}

.marker_btn > label > img {
  width: 100%;
}

input:checked ~ label {
  background: linear-gradient(to bottom, #c9c9c9 5%, #d3d3d3 100%);
  background-color: #d3d3d3;
}

.u-text-align-left { text-align: left; }
.u-margin-right-XS {margin-right: 4px; }

.u-hide { display: none; }