{% load staticfiles %}
{% load compress %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta charset="UTF-8">
  <title>蘆葦展示</title>

  {% compress js %}
  <script src="{% static 'js/reed_map/vue.js' %}"></script>
  <script src="{% static 'js/reed_map/es6-promise.auto.js' %}"></script>
  <script src="{% static 'js/reed_map/babel.min.js' %}"></script>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" ></script>

  <script type="text/babel" data-presets="es2015,stage-2" src="{% static "components/reed_map/Map.js" %}"></script>
  <script type="text/babel" data-presets="es2015,stage-2" src="{% static "components/reed_map/Aside.js" %}"></script>
  {% endcompress %}

  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/reed_map/main.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/reed_map/aside.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/reed_map/map.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}" />
  {% endcompress %}

  <script type="text/javascript">
    var GV = {
      REED_ICON: "{% static 'imgs/reed.png' %}",
      RECYCLING_ICON: "{% static 'imgs/recycling.png' %}",
      RESTAURANT_ICON: "{% static 'imgs/restaurant.png' %}"
    };

    GV.GEEN_RESTAURANT = {{ green_restaurant|safe }};
    GV.REED_DATAS = {{ reed_datas|safe }};
    GV.BEE_HOTEL_DATAS = {{ bee_hotel_datas|safe }};

  </script>

  <style>

    [v-cloak] {
      display: none;
    }

  </style>
</head>

<body>
  <div id="reed_map_platform">
    <div class="right_container">
      <map_aside
        :markers_info="markers_info"
      ></map_aside>
    </div>
    <div class="left_container">
      <reed_map
        :markers_info="markers_info"
      ></reed_map>
    </div>
  </div>
  <script type="text/babel" data-presets="es2015,stage-2">

    Vue.config.devtools = true;
    window.app = new Vue({
      el: '#reed_map_platform',
      delimiters: ["[[", "]]"],
      components: {
        'reed_map': ReedMap,
        'map_aside': Aside
      },

      data: {
        restaurant_datas: GV.GEEN_RESTAURANT,

        markers_info: [{
          name: 'reed',
          img: GV.REED_ICON,
          selected: true,
          icon: L.icon({
            iconUrl: GV.REED_ICON,
            iconSize: [46, 46],
            iconAnchor: [23, 13]
          })
        }, {
          name: 'green_restaurant',
          img: GV.RESTAURANT_ICON,
          selected: true,
          icon: L.icon({
            iconUrl: GV.RESTAURANT_ICON,
            iconSize: [46, 46],
            iconAnchor: [23, 13]
          })
        }, {
          name: 'recycling',
          img: GV.RECYCLING_ICON,
          selected: true,
          icon: L.icon({
            iconUrl: GV.RECYCLING_ICON,
            iconSize: [46, 46],
            iconAnchor: [23, 13]
          })
        }]
      },

      computed: {
      },

      methods: {
      },

      watch: {
      },

      mounted() {
        // this.$nextTick(() => {
        // })
      },

      created() {

      },

    });
  </script>
</body>
